*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
font-size: large;
font-weight: bold;
}


.box{


background-color: #000000;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;

}


h1{
color:rgb(235, 235, 235);
font-size: 4rem;
align-items: center;
text-align: center;
position: relative;
bottom: 30px;

}

.container {
display: grid;
grid-template-columns: repeat(3, 125px);
grid-template-rows: repeat(3, 125px);
gap: 20px;



 }

.carre{
 width: 125px;
 height: 125px;
  background-color: #fff;
  border: 2px solid #ddd;
border-radius: 8px;
display: flex;
 align-items: center;
justify-content: center;
font-size: 2.5rem;
font-weight: bold;
 cursor: pointer;
transition: background-color 0.3s;

}
.carre:hover { background-color: #070707;
color: whitesmoke; }


.reset{
margin-top: 30px;
padding: 10px 25px;
font-size: 1rem;
background-color: #343435;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
 border: 1PX solid whitesmoke;
 box-shadow: 0 0 10px 1px rgb(255, 255, 255);
align-items: center;
text-align: center;
align-self: center;
   }