* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

width: 100%;
background-color: rgb(29, 29, 29);
display: flex;
flex-direction: column;


}

h1{
color:rgb(99, 99, 99);
font-size: 15rem;
align-items: center;




}
h2{
color:rgb(99, 99, 99);
font-size: 5rem;
align-items: center;
justify-content: center;
padding-top: 40px ;


}
.tools img {
width: 25rem;
background-color: whitesmoke;
border-radius: 40px;
align-items: center;

}
.tools{
display: grid;
justify-content: space-around;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
position: relative;
margin-top: 900px;
padding-left: 400px;





}
footer img{
width: 8rem;
float: right;


}
footer {
position: relative;
margin-top:850px;
padding-right: 30px;


}
