* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{


}
body{

width: 100%;
background-color: rgb(0, 0, 0);
display: flex;
flex-direction: column;
min-height: 100vh;


}

h1{
color:rgb(235, 235, 235);
font-size: 4rem;
align-items: center;
text-align: center;
position: relative;
padding-top: 50px;


}
a{
text-decoration: none;

}
h2{
color:rgb(255, 255, 255);
font-size: 1rem;
align-items: center;
justify-content: center;
padding-top: 20px ;

text-align: center;


}
.tools img {
width: 6rem;
background-color: rgba(240, 240, 240, 0.823);
border-radius: 20px;
align-items: center;
box-shadow: 0 0 10px 1px rgb(255, 255, 255);
border: 2px solid whitesmoke;
padding: 15px;
display: block;
margin: auto;


}
.tools{
display: grid;
justify-content: space-around;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
position: relative;
margin-top: 170px;



}
footer img{
width: 2rem;
float: right;
position: absolute;
 bottom: 5px;
right: 5px;

}

