
*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
font-size: large;
font-weight: bold;
}
.box{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(0, 0, 0);
color: whitesmoke;

}

p {
    font-size: 70px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 20px;
    font-family: monospace; /* Highly recommended for timers! */
}

span{
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 20px;
    font-family: monospace; /* Highly recommended for timers! */
}

.stopwatch{
border-radius: 20px;
padding: 20px;
background: rgba(110, 110, 110, 0.111); 
backdrop-filter: blur(30px);
-webkit-backdrop-filter: blur(30px);
 border: 1PX solid whitesmoke;
box-shadow: 0 0 10px 1px rgb(255, 255, 255);

}
input{
    width: clamp(80px, 25vw, 120px); 
    border: 1px solid whitesmoke;
    font-weight: bold;
    border-radius: 20px;
    height: 50px;
    margin: 8px; 
    cursor: pointer;
    transition: 0.3s;
}


input[value="Stop"]{
box-shadow: 0 0 10px 1px rgb(164, 4, 4);

}
input[value="Start"]{
box-shadow: 0 0 10px 1px rgb(38, 140, 4);

}
input[value="Reset"]{
box-shadow: 0 0 10px 1px rgb(23, 20, 155);

}


img{
width: 2rem;
float: right;
position: absolute;
 bottom: 5px;
right: 5px;

}


@media (max-width: 400px) {
    .time {
        font-size: 2rem;
    }

    input:active {
    transform: scale(0.9);
}


    p, span {
        font-size: 2rem; 
    }
    input {
        width: 50px;  
        margin: 8px;
        border-radius: 13px;
    }

}