
*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
font-size: large;
font-weight: bold;
}
.box{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(0, 0, 0);
color: whitesmoke;

}

h1{

color: whitesmoke;
font-size: 70px;
justify-content: center;
align-items: center;
position: relative;
margin-bottom: 30px;
width: 100%;
padding-left: 80px;


}

.stopwatch{
border-radius: 20px;
padding: 20px;
background: rgba(110, 110, 110, 0.111); 
backdrop-filter: blur(30px);
-webkit-backdrop-filter: blur(30px);
 border: 1PX solid whitesmoke;
box-shadow: 0 0 10px 1px rgb(255, 255, 255);

}
input{
width: 140px;
border: 1PX solid whitesmoke;
font-weight: bold;
justify-content: center;
align-items: center;
border-radius: 20px;
height: 50px;
margin: 15px;
flex-wrap: wrap;

}

input[value="Stop"]{
box-shadow: 0 0 10px 1px rgb(164, 4, 4);

}
input[value="Start"]{
box-shadow: 0 0 10px 1px rgb(38, 140, 4);

}
input[value="Reset"]{
box-shadow: 0 0 10px 1px rgb(23, 20, 155);

}


img{
width: 2rem;
float: right;
position: absolute;
 bottom: 5px;
right: 5px;

}


@media (max-width: 768px) {


.stopwatch{
 border: none;
box-shadow:none;
background-color: black;

}

.buttonclick input{

justify-content: center;
align-items: center;


}

h1{

size: 1px;



}
  
  
  }