* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

width: 100%;
background-color: rgb(0, 0, 0);
display: flex;
flex-direction: column;
min-height: 100vh;


}

h1{
color:rgb(235, 235, 235);
font-size: 15rem;
align-items: center;
text-align: center;
position: relative;
padding-top: 500px;






}
a{
text-decoration: none;

}
h2{
color:rgb(255, 255, 255);
font-size: 5rem;
align-items: center;
justify-content: center;
padding-top: 40px ;

text-align: center;


}
.tools img {
width: 25rem;
background-color: rgba(240, 240, 240, 0.823);
border-radius: 40px;
align-items: center;
box-shadow: 0 0 22px 1px rgb(255, 255, 255);
border: 2px solid whitesmoke;
padding: 30px;
display: block;
margin: auto;


}
.tools{
display: grid;
justify-content: space-around;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
position: relative;
margin-top: 500px;






}
footer img{
width: 8rem;
float: right;


}
footer {
position: relative;
margin-top:750px;
padding-right: 50px;


}
